
.puzzle-background{
	background-image:url(images/monks.jpg);
	width:500px;
   	height:500px;
   	position: absolute;
   	opacity:.6;
}

.puzzle-group{
	position: absolute;
}

.puzzle-item{
	position: absolute;
	background-image:url(images/monks.jpg);
	width: 125px;
	height: 125px;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}