

.puzzle-background{

	background-image:url(images/monks.jpg);
	width:500px;
   	height:500px;
   	opacity:.6;
   	filter: alpha(opacity=60); /* For IE8 and earlier */
}

.puzzle-group{
	position: absolute;
	left: 100px;
	top: 50px;
}

.puzzle-text{
	padding-top: 50px;
}

.puzzle-item{
	border:1px solid black;
	position: absolute;
	background-image:url(images/monks.jpg);
	width: 125px;
	height: 125px;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);

	-webkit-animation: left-slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: left-slide 0.5s forwards;
    animation-delay: 2s;
}